@font-face
{
	font-family: 'Antenna';
	src: url('fonts/ANTENNA.ttf');
}

html,body
{
height:100%;
}

.post_image 
{
	height: 10%;
}


#name
{
	font-style: bold;
	font-size: 25px;
}


#accroche
{
	font-style: italic;
}

#nav_head a
{
	font-size: 22px;
	font-weight: normal;
	text-decoration: none;
	padding: 5px 5px 5px 5px;
	transition: background 0.3s;
	border-radius: 10px;
	color: black;

}

#nav_head
{
	margin-top: 15px;
}

#nav_head li
{
	margin-right: 10%;
}

#nav_head a:hover
{
	background: rgba(14,108,209,.8);
	padding: 5px 5px 5px 5px;
	font-size: 22px;
	font-weight: normal;
	text-decoration: none;
	color: black;
}

#wrapper h3
{
	font-family: 'Antenna', sans-serif;
}

#wrapper h2
{
	font-family: 'Antenna', sans-serif;
}

#wrapper h1
{
	font-family: 'Antenna', sans-serif;
}

#header_global
{
	margin-bottom: 50px;
	background-color: #17B890;
	margin:0;
}

#wrapper {
  min-height: 100%;
  background-color: #9DC5BB;
}

#main
{
overflow:auto;
padding-bottom:60px; /* this needs to be bigger than footer height*/
}

.footer 
{
position: relative;
margin-top: -50px; /* negative value of footer height */
height: 50px;
clear:both;
padding-top:10px;
color:#fff;
background-color: #17B890;
padding-bottom: 30px;
} 

.footer ul
{
	margin-bottom: 0px;
}
.footer li
{
	margin-bottom: 0px;
}

#content_block
{
	margin-top:  50px;
}

.footer_list a
{
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	transition: background 0.3s;
	border-radius: 10px;
	color: black;
	padding: 5px 5px 5px 5px;
}

.footer_list a:hover
{
	background: rgba(14,108,209,.8);
	padding: 5px 5px 5px 5px;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	color: black;

}